<nav>
    <h3 class="website-title text-blue">Off-Style Database</h3>
    <ul>
        <li><a href="/">SourceHop</a></li>
        <li><a href="/records">Records</a></li>
        <li><a href="/players">Players</a></li>
        <li><a href="/leaderboards">Leaderboards</a></li>
        <li><a href="/servers">Servers</a></li>
        <li><a href="/community">Community</a></li>
    </ul>
    <div class="add-record-nav"><a href="/records/add">Add record</a></div>
</nav>